@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');

html{
    height: 100%;
    font-family: "PT Sans";
}

body{
    background-image: url("../static/site-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
}

.content{
    width: 60%;
    margin: auto;
}

p{
    text-align: center;
}

.logo{
    margin-top: 15vh;
    height: 4em;
    margin-bottom: 5vh;
}

.big-message{
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin-bottom: 15vh;
    font-weight: 400;
}

.cta-btn{
    text-decoration: none;
    color: #0847B7;
    background-color: #fff;
    padding: 1em 2em;
    font-size: 1.5em;
    border-radius: 2em;
    font-weight: 400;
}

.copyright{
    display: none;
    margin: 25vh auto;
    color: #fff;
    font-size: 1em;

}


@media screen and (max-width: 420px) {

    .content{
        width: 90%;
    }

    .logo {
        margin-top: 15vh;
        height: 3em;
    }

    .big-message{
        font-size: 1.3em;
        margin-bottom: 10vh;
    }

    .cta-btn{
        padding: 1em 2em;
        font-size: 1.2em;
    }
}

@media screen and (width: 540px) {
    .logo{
        margin-top: 10vh;
    }
}

@media screen and (min-height: 800px){
    .copyright{
        display: inline-block;
    }
}

@media screen and (min-width: 1280px) {
    .copyright {
        margin: 20vh auto;
    }
}
/* .cta-btn:hover{
    background-color: #08b768;
    color: #fff;
} */

