@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f4f9ff;
}

li, a, button, span, input{
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: #aaa;
}

h1, h2{
    font-family: "Ubuntu";
    font-weight: 700;
    color: #0847B7;
}

h3, strong, p {
    font-family: "PT Sans";
    font-weight: 700;
}

/* BEGIN Transient properties */

.add-shadow{
    box-shadow: 0px 5px 20px #0848b717;
}

.green-text{
    color: #08b768;
}

/* END Transient properties */

.weight-light{
    font-weight: 400;
}

.weight-heavy{
    font-weight: 700;
}

.horizontal-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 10%;
    background-color: #fff;
    height: 12vh;
    border-bottom: 1px solid #0847B7;
    position: fixed;
    width: 100%;
    top: 0;
    /* box-shadow: 0px 5px 20px #0848b717; */
}

.logo{
    height: 2em;
    cursor: pointer;
}

.horizontal-nav-links ul{
    list-style-type: none;
}

.horizontal-nav-links li{
    display: inline-block;
    padding: 0px .5em;
}

.horizontal-nav-links li a{
    transition: all 0.3s ease-in 0s;
}

.horizontal-nav-links li a:hover{
    color: #0847B7;
}

/* BEGIN a */

a.f-cta-link{
    transition: all 0.3s ease-in 0s;
    font-size: .8em;
    color: #fff;
}

a.f-cta-link:hover{
    color: #08b768;
}

/* END a */

/* BEGIN cta links */
a.inline-link{
    transition: all 0.3s ease-in 0s;
    color: #232323;
    font-weight: 700;
    font-size: .8em;
}

a.inline-link:hover{
    color: #0847B7;
}

a.cta-link{
    transition: all 0.3s ease-in 0s;
    color: #0847B7;
    font-weight: 700;
}

a.cta-link:hover{
    color: #08b768;
}

.horizontal-nav-links li a.cta-link{
    transition: all 0.3s ease-in 0s;
    color: #232323;
    font-weight: 400;
}

.horizontal-nav-links li a.cta-link:hover{
    color: #0847B7;
    font-weight: 700;
}

/* END cta-links */

/* BEGIN cta button */

a.cta-btn{
    transition: all 0.3s ease-in 0s;
    border: 1px solid #0847B7;
    border-radius: 2em;
    color: #0847B7;
    font-weight: 700;
    padding: .5em 1em;
}

a.cta-btn:hover{
    color: #eee;
    background-color: #0847B7;
}

.horizontal-nav-links li a.cta-btn{
    transition: all 0.3s ease-in 0s;
    border: 1px solid #0847B7;
    border-radius: 2em;
    color: #0847B7;
    font-weight: 700;
    padding: .5em 3em;
}

.horizontal-nav-links li a.cta-btn:hover{
    color: #eee;
    background-color: #0847B7;
}

/* END cta button */

/* BEGIN cta primary */

a.cta-primary{
    background-color: #0847B7;
    color: #eee;
}

a.cta-primary:hover{
    color: #0847B7;
    background-color: transparent;
}

.horizontal-nav-links li a.cta-primary{
    background-color: #0847B7;
    color: #eee;
}

.horizontal-nav-links li a.cta-primary:hover{
    color: #0847B7;
    background-color: transparent;
}

/* END cta primary */

/* BEGIN cta secondary */

a.cta-secondary{
    background-color: #08b768;
    border: 1px solid #08b768;
    color: #fff;
}

a.cta-secondary:hover{
    color: #08b768;
    background-color: transparent;
}

a.cta-big{
    font-size: 1.4em;
    font-weight: 400;
}

a.cta-medium{
    font-size: 1.1em;
    font-weight: 400;
}

.horizontal-nav-links li a.cta-secondary{
    background-color: #08b768;
    border: 1px solid #08b768;
    color: #fff;
}

.horizontal-nav-links li a.cta-secondary:hover{
    color: #08b768;
    background-color: transparent;
}

/* END cta secondary */

/* BEGIN field */

.field {
    padding: .6em 2.6em;
    outline: #aaa;
    border: 1px solid #aaa;
    border-radius: 2em;
    font-family: "PT Sans";
    width: 100%;
    color: #232323;
    background-color: #fff;
}

.field:focus{
    outline: #0847B7;
    border: 2px solid #0847B7;
    box-shadow: 5px 5px 20px #0848b717;
    background-color: #fff;
}

.search{
    width: 25%;
}

.short{
    width: 15%;
}

/* BEGIN footer */
footer{
    position: fixed;
    bottom: 0;
    background-color: #0847B7dd;
    width: 100%;
}

footer span{
    color: #fff;
    font-size: .75em;
}


footer #footer-navs{
    margin: auto;
    width: 80%;
    padding: .5em 0;
}

footer #footer-navs ul {
    list-style: none;
    margin: 0px 2.5em 0px 0px;
}

footer #footer-navs ul li:first-child{
    font-weight: 700;
    color: #fff;
    margin-bottom: .2em;
}

/* END footer */

/* BEGIN action button */
.btn-action{
    transition: all 0.3s ease-in 0s;
    border: 1px solid #0847B7;
    border-radius: 2em;
    color: #0847B7;
    font-weight: 700;
    padding: .8em 3em;
    width: 100%;
}

.btn-action:hover{
    color: #eee;
    background-color: #0847B7;
    cursor: pointer;
}

.btn-secondary{
    transition: all 0.3s ease-in 0s;
    border: 1px solid #08b768;
    border-radius: 2em;
    color: #08b768;
    font-weight: 700;
    padding: .7em 3em;
    width: 100%;
}

.btn-secondary:hover{
    color: #eee;
    background-color: #08b768;
    cursor: pointer;
}

/* END action button */

/* BEGIN content */
.content{
    width: 100%;
    margin: 20vh 0;
}

.boxed{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.article-box{
    width: 50%;
    background-color: #0847B7;
    border-radius: 2em;
    color: #fff;
    padding: 2em;
    /* box-shadow: 0px 5px 20px #0848b717; */
}

.article-space{
    width: 50%;
    background-color: #fff;
    border-radius: 2em;
    padding: 2em;
}

.content .login-form, .signup-form{
    width: 40%;
    background-color: #fff;
    border-radius: 2em;
    border: none;
    padding: 2em;
    /* box-shadow: 0px 5px 20px #0848b717; */
}

.title-display{
    font-size: 5em;
    font-weight: 700;
    line-height: .8em;
}

.title-sub{
    width: 95%;
}

.v-space40{
    margin: 2em 0;
}
/* END content */

/* BEGIN info */

.info {
    transition: all 0.3s ease-in 0s;
    position: relative;
    top: 12vh;
    z-index: -1;
    background-color: #fff;
    padding: .7em 1.2em;
    font-family: "PT Sans";
    text-align: center;
}

.error{
    background-color: #b7080822;
    color: #b70808;
    border-bottom: 1px solid #b70808;
    /* box-shadow: 0px 5px 10px #b71f0823; */
}

.success{
    background-color: #08b76811;
    color: #08b768;
    border-bottom: 1px solid #08b768;
    /* box-shadow: 0px 5px 10px #08b7683c; */
}

.close{
    right: 2em;
    font-weight: bold;
    position: absolute;
    font-size: 1em;
    z-index: 1;
    color: #047542;
    cursor: pointer;
}

/* END info */

/* BEGIN logout */
.logout-link{
    color: #b70808;
    font-weight: 400;
    text-align: center;
    padding: .8em 2em;
    font-size: .9em;
}
/* END logout */

/* BEGIN tooltip dropdown */
.profile-dropdown{
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    border-radius: 1.2em;
    transition: all 0.3s ease-in 0s;
    z-index: 1;
}

/* END dropdown */
