{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block signuplink %}
<a class="cta-btn cta-medium" href="{{ url_for('auth.login') }}">Log In</a>
{% endblock %}
{% block navsearch %}
<input class="field search" type="search" name="search" id="search" placeholder="Search">
{% endblock %}
{% block content %}
<section class="content">
   <div class="boxed">
        <article class="article-box">
            <p class="title-display">Show your grit</p>
            <p class="title-sub v-space20 weight-light">Learning is can be fun and easy but it requires grit. &nbsp; Following through can be the difference between failure and success.</p>
        </article>
        <form class="signup-form" method="POST">
            <h2 class="form-title">New Password</h2> <br>
            <input class="field" type="password" placeholder="New Password"> <br><br>
            <input class="field" type="password" placeholder="Confirm Password"> <br><br>
            <input class="btn-action" type="submit" value="Continue"><br><br>
        </form>
    </div>
</section>
{% endblock %}
{% block footer %}
<footer>
    <div id="footer-navs">
        <span>&copy; Project Star Technologies</span>
    </div>   
</footer>
{% endblock %}
