<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Construction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='construction.css') }}"
    />
  </head>
  <body>
    <section class="content">
      <p>
        <img
          class="logo"
          src="{{ url_for('static', filename='logo-white.png') }}"
          alt="projectstar logo"
        />
      </p>

      <h1 class="big-message">A Pay-As-You-Go learning platform.</h1>
      <p class="small-message">
        Learn while paying flexibly the world's first flexible-pay online
        learning platform. Projectstar is a stem learning platform for students,
        professionals, and budding tech-preneurs.
      </p>
      <p>
        <a
          class="cta-btn"
          target="_blank"
          href="https://forms.gle/6rCWGo5zyYEgWUBBA"
          >Join our waiting list</a
        >
      </p>

      <p>
        <span class="copyright">&copy; Project Star Technologies</span>
      </p>
    </section>
  </body>
</html>
